#viewer
  #fb= link_to image_tag('facebook.png'), @page.link
  #about
    %p= @page.about
  #cover-source= link_to image_tag(@page.cover_source), @page.cover_source
  / %p#description= @page.description
  #date
    / %p#created= "Created On #{@page.created_at}"
    / %p#updated= "Last Updated #{@page.updated_at}"
    %p#created= "#{@page.created_at.strftime('Created %b %Y')}"
    %p#updated= "#{@page.updated_at.strftime('Updated %b %Y')}"
  #social
    %p#talking-about-count= "Talking About: #{@page.talking_about_count}"
    %p#likes= "Likes: #{@page.likes}"
#nav-viewer
  %p= @page.name